@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url("../Fonts/Roboto-Light.ttf");
}
* {
  margin: 0px;
  font-family: Roboto;
}

.AddPageMain {
  height: 100%;
  width: calc(100% - 75px);
  float: left;
}

.AddPageForm {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddPageWorks {
  height: 100%;
  width: 50%;
  float: left;
  background-color: #0D1321;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AddInput {
  height: 50px;
  width: 400px;
  margin-top: 20px;
  color: #FCF7F8;
  font-size: 25px;
  background-color: #0D1321;
  border: 3px solid #AF125A;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.AddInput:focus {
  cursor: text;
  transform: scale(1.1);
  outline: none;
}

.AddOrderButton {
  height: 50px;
  width: 400px;
  margin-top: 20px;
  font-size: 25px;
  background-color: #0D1321;
  border: 3px solid #6BD425;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.AddOrderButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #6BD425;
  color: #0D1321;
}

.WorkInput {
  height: 35px;
  width: 400px;
  margin-top: 20px;
  color: #FCF7F8;
  font-size: 25px;
  background-color: #0D1321;
  border: 3px solid #AF125A;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.WorkInput:focus {
  cursor: text;
  transform: scale(1.1);
  outline: none;
}

.WorkTextArea {
  width: 400px;
  margin-top: 20px;
  color: #FCF7F8;
  resize: none;
  text-align: center;
  font-size: 25px;
  background-color: #0D1321;
  border: 3px solid #AF125A;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.WorkTextArea:focus {
  cursor: text;
  transform: scale(1.1);
  outline: none;
}

.WorkRefButton {
  height: 37px;
  width: 400px;
  margin-top: 20px;
  color: #FCF7F8;
  font-size: 25px;
  background-color: #0D1321;
  border: 3px solid #AF125A;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.WorkRefButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #AF125A;
  outline: none;
}

.WorkForm {
  width: 75%;
  height: auto;
  border: 1px solid #AF125A;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 20px;
  display: grid;
}

.AddWorkButton {
  height: 35px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D1321;
  border: 2px solid #AF125A;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.AddWorkButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  outline: none;
}

.AddWorkButtonImg {
  transform: scale(0.7);
}

.DeleteWorkButton {
  margin: 0px;
}

.DeleteWorkImg {
  transform: scale(0.8);
  float: right;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.DeleteWorkImg:hover {
  cursor: pointer;
  transform: scale(1);
  outline: none;
}

.WorkIsDoneWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.WorkIsDoneDiv {
  height: 35px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #0D1321;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WorkIsDoneLabel {
  color: #FCF7F8;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WorkIsDoneInput {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 25px;
  width: 25px;
  background-color: #0D1321;
  border: 2px solid #AF125A;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-left: 5px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.WorkIsDoneInput::after {
  display: none;
  content: "🗸";
  color: #6BD425;
}
.WorkIsDoneInput:hover {
  background-color: #AF125A;
  transform: scale(1.2);
}
.WorkIsDoneInput:checked::after {
  display: block;
}/*# sourceMappingURL=AddPage.css.map */