@font-face {
  font-family: Roboto;
  src: url("../Fonts/Roboto-Light.ttf");
}
* {
  margin: 0px;
  font-family: Roboto;
}

.ListPage {
  height: 100%;
  width: calc(100% - 75px);
  background-color: #161925;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  overflow: auto;
}

.ListItem {
  height: 20%;
  width: 80%;
  margin: 10;
  background-color: #0D1321;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #AF125A;
  border-radius: 20px;
}

.ListLabelContener {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.ListDataLabel {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListButton {
  height: 100%;
  width: 20%;
  grid-row: span 2/span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.ListButton:hover {
  cursor: pointer;
  transform: scale(1.3);
  outline: none;
}

.AddInput {
  height: 50px;
  width: 400px;
  margin-top: 20px;
  color: #FCF7F8;
  font-size: 25px;
  background-color: #0D1321;
  border: 3px solid #AF125A;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.AddInput:focus {
  cursor: text;
  transform: scale(1.1);
  outline: none;
}

.EditPanel {
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: #161925;
  border: 3px solid #AF125A;
  border-radius: 20px;
}

.OrderForm {
  height: 100%;
  width: 50%;
  float: right;
  background-color: #161925;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.WorksForm {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  border-radius: 20px;
  background-color: #0D1321;
}

.WorkItem {
  width: 80%;
  height: auto;
  border: 1px solid #AF125A;
  border-radius: 7px;
  padding: 5px;
  margin-top: 20px;
  display: grid;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}

.WorkButton {
  height: 35px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D1321;
  border: 2px solid #AF125A;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.WorkButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  outline: none;
}

.CloseEditButton {
  width: 100%;
}

.CloseEditButtonImg {
  transform: scale(0.9);
  float: right;
  margin-right: 20px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.CloseEditButtonImg:hover {
  cursor: pointer;
  transform: scale(1.1);
  outline: none;
}

.DeleteOrderButton {
  height: 50px;
  width: 400px;
  margin-top: 20px;
  font-size: 25px;
  background-color: #0D1321;
  border: 3px solid #D00000;
  border-radius: 7px;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}
.DeleteOrderButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #D00000;
  color: #0D1321;
}/*# sourceMappingURL=ListPage.css.map */