//Color Pallet
$LightDark: #161925;
$Dark: #0D1321;
$Grey: #6B818C;
$White: #FCF7F8;
$Pink: #AF125A;
$Green: #6BD425;
$Red: #D00000;

.App{
  height: 100vh;
  width: 100vw;
  background-color: $LightDark;
}