//Color Pallet
$LightDark: #161925;
$Dark: #0D1321;
$Grey: #6B818C;
$White: #FCF7F8;
$Pink: #AF125A;
$Green: #6BD425;
$Red: #D00000;

@font-face {
    font-family: Roboto;
    src: url("../Fonts/Roboto-Light.ttf");
}

*{
    margin: 0px;
    font-family: Roboto;
}