@import "iRiffy_Note.scss";

.RefPanel{
    height: 90%;
    width: 90%;

    position: absolute;
    left: calc(50% + 37.5px);
    top: calc(50%);
    transform: translate(-50%, -50%);
    z-index: 1;


    background-color: $Dark;
    //opacity: 0.95;

    border: 2px solid $Pink;
    border-radius: 10px;


}

.RefPanelMain{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    //justify-content: center;
    flex-direction: column;
}

.ExitRefButton{
    width: 100%;
}

.ExitRefButtonImg{
    float: right;
    margin: 10px;

    transform: scale(0.8);
    float: right;

    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 300ms;
    &:hover{
        cursor: pointer;
        transform: scale(1);
        outline: none;
    }
}