@import "iRiffy_Note.scss";

.RefPanel{
    height: 90%;
    width: 90%;

    position: absolute;
    left: calc(50% + 37.5px);
    top: calc(50%);
    transform: translate(-50%, -50%);
    z-index: 1;


    background-color: $Dark;
    //opacity: 0.95;

    border: 2px solid $Pink;
    border-radius: 10px;


}

.RefPanelMain{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    //justify-content: center;
    flex-direction: column;
}

.InputContener{
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddRefButton{
    //height: 50%;
    //width: 20%;

    font-size: 20px;

    background-color: $LightDark;

    background-color: $Dark;
    border: 2px solid $Pink;
    border-radius: 5px;

    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 300ms;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        outline: none;
        background-color: $Pink;
        color: $Dark;
    }
}

.ExitRefButton{
    width: 100%;
}

.ExitRefButtonImg{
    float: right;
    margin: 10px;

    transform: scale(0.8);
    float: right;

    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 300ms;
    &:hover{
        cursor: pointer;
        transform: scale(1);
        outline: none;
    }
}

.RefPanelImgContener{
    overflow: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.NoDataInfo{
    height: 50vh;
    width: 28vw;

    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.RefItem{

    height: 51vh;
    width: 28vw;

    margin: 5px;

    display: flex;
    align-items: center;
    //justify-content: center;
    flex-direction: column;

    background-color: $Dark;
    border: 2px solid $Pink;
    border-radius: 10px;
}

.RefItemImg{
    
    position: relative;

    margin: 4px;

    max-height: 43vh;
    max-width: 27vw;
    
}

.RefItemFrame{
    height: 50vh;
    width: 28vw;

    margin: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.RefItemImgFrame{
    height: 50vh;
    width: 28vw;

    margin: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DeleteRefButton{
    
    position: relative;
    z-index: 1;

    order: 0;
    float: right;
    justify-self: stretch;
    margin: 0px;

    transform: scale(0.8);

    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 300ms;
    &:hover{
        cursor: pointer;
        transform: scale(0.9);
        outline: none;
    }
}

.FocusFrame{
    height: 100%;
    width: 100%;

    z-index: 2;
    position: absolute;
    background-color: rgba(0,0,0,0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}

.FocusImg{
    max-height: 85vh;
    max-width: 85vw;
}